---
import Layout from "../layouts/layout.astro";

const title = "Условия аренды автомобиля"; // Заголовок для этой страницы
---

<Layout title={title}>
	<!-- Передаем pageTitle в Layout -->
	<div class="grid-container">
		<div class="grid-item">
			Возраст: с 22 лет Стаж: не менее 3 лет Залог за автомобиль: от 5 000
			рублей Пробег: без ограничений (по Крыму)
		</div>
		<div class="grid-item">
			Для граждан РФ: Паспорт РФ, действующая прописка, Водительское
			удостоверение Для иностранных граждан: Заграничный паспорт, Водительское
			удостоверение международного образца
		</div>
		<div class="grid-item">
			Аэропортовый сбор - 1000 руб Прием и выдача автомобилей в нерабочее время
			- 1500 руб. По городу Симферополю - 1 500 рублей Алушта, Саки, Бахчисарай
			- 3 500 рублей Евпатория - 4 000 рублей Ялта - от 4 500 рублей Судак,
			Коктебель, Феодосия, Севастополь - от 5 000 рублей Черноморское, Джанкой -
			от 6 000 рублей Керчь, Армянск - 7 500 рублей
		</div>
		<div class="grid-item">
			Навигатор - 150 рублей в сутки Детское кресло - 200 рублей в сутки Набор
			автомобилиста - Бесплатно Дополнительный водитель - 150 рублей в сутки
			Отмена залога и франшизы - от 300 до 1000 рублей в сутки Wi-Fi Интернет -
			300 рублей в сутки Камера GoPro - 500 рублей в сутки
		</div>
	</div>
</Layout>

<style>
	.grid-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		gap: 10px;
	}
</style>
