---
import Layout from "../layouts/layout.astro";

const title = "Условия аренды автомобиля"; // Заголовок для этой страницы
---

<Layout title={title}>
	<!-- Передаем pageTitle в Layout -->
	<div class="grid-container m-4">
		<div class="grid-item">
			<p class="font-bold text-xl mb-2">Условия аренды:</p>
			<ul>
				<li>Возраст: с 22 лет</li>
				<li>Стаж: не менее 3 лет</li>
				<li>Залог за автомобиль: от 5 000 рублей</li>
				<li>Пробег: без ограничений (по Крыму)</li>
			</ul>
		</div>
		<div class="grid-item">
			<p class="font-bold text-xl mb-2">Необходимые документы:</p>
			<ul>
				<li>
					Для граждан РФ: Паспорт РФ, действующая прописка, Водительское
					удостоверение
				</li>
				<li>
					Для иностранных граждан: Заграничный паспорт, Водительское
					удостоверение международного образца
				</li>
			</ul>
		</div>
		<div class="grid-item">
			<p class="font-bold text-xl mb-2">Подача/Прием автомобиля:</p>
			<ul>
				<li>Аэропортовый сбор - 1000 руб</li>
				<li>Прием и выдача автомобилей в нерабочее время - 1500 руб</li>
				<li>По городу Симферополю - 1 500 рублей</li>
				<li>Алушта, Саки, Бахчисарай - 3 500 рублей</li>
				<li>Евпатория - 4 000 рублей</li>
				<li>Ялта - от 4 500 рублей</li>
				<li>Судак, Коктебель, Феодосия, Севастополь - от 5 000 рублей</li>
				<li>Черноморское, Джанкой - от 6 000 рублей</li>
				<li>Керчь, Армянск - 7 500 рублей</li>
			</ul>
		</div>
		<div class="grid-item">
			<p class="font-bold text-xl mb-2">Дополнительные услуги:</p>
			<ul>
				<li>Навигатор - 150 рублей в сутки</li>
				<li>Детское кресло - 200 рублей в сутки</li>
				<li>Набор автомобилиста - Бесплатно</li>
				<li>Дополнительный водитель - 150 рублей в сутки</li>
				<li>Отмена залога и франшизы от 300 до 1000 рублей в сутки</li>
				<li>Wi-Fi Интернет - 300 рублей в сутки</li>
				<li>Камера GoPro - 500 рублей в сутки</li>
			</ul>
		</div>
	</div>
</Layout>

<style>
	.grid-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 12px;
	}
</style>
