---
import Layout from "../layouts/layout.astro";
import { Icon } from "astro-icon/components";
const title = "Условия аренды автомобиля"; // Заголовок для этой страницы
---

<Layout title={title}>
	<div class="grid-container m-4 text-lg container mx-auto">
		<div class="grid gap-4">
			<!-- Первая строка: 2 столбца, второй в 2 раза шире первого -->
			<div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
				<div class="col-span-1 lg:col-span-1 p-4">
					<h2 class="font-semibold text-3xl mb-2 text-red-700">
						Условия аренды:
					</h2>
					<ul>
						<li>Возраст: с 22 лет</li>
						<li>Стаж: не менее 3 лет</li>
						<li>Залог за автомобиль: от 5 000 рублей</li>
						<li class="font-bold">Пробег: без ограничений (по Крыму)</li>
					</ul>
				</div>
				<div class="col-span-1 lg:col-span-2 p-4">
					<p>
						Картинки автомобилей опубликованы на нашем сайте исключительно в
						целях ознакомления. По запросу мы с удовольствием отправим Вам
						реальные фотографии забронированного Вами автомобиля.
					</p>
					<strong>
						Взять автомобиль в прокат можно на всей территории Республики Крым.
					</strong>
					<p>
						В нашем автопарке <strong
							>широкий спектр автомобилей разных классов</strong
						>.
					</p>
					<p class="underline">
						Компания оставляет за собой право отказать клиенту в аренде
						автомобиля после получения документов арендатора в одностороннем
						порядке без объяснения причин.
					</p>
				</div>
			</div>

			<!-- Вторая строка: 3 столбца одинаковой ширины -->
			<div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
				<div class="p-4">
					<h2 class="font-semibold text-3xl mb-2 text-red-700">
						Необходимые документы:
					</h2>
					<ul>
						<li>
							<strong>Для граждан РФ:</strong> Паспорт РФ, действующая прописка,
							Водительское удостоверение
						</li>
						<li>
							<strong>Для иностранных граждан:</strong> Заграничный паспорт, Водительское
							удостоверение международного образца
						</li>
					</ul>
				</div>
				<div class="p-4">
					<h2 class="font-semibold text-3xl mb-2 text-red-700">
						Подача/Прием автомобиля:
					</h2>
					<ul>
						<li class="font-bold">Аэропортовый сбор - 1000 руб</li>
						<li class="font-bold">
							Прием и выдача автомобилей в нерабочее время - 1500 руб
						</li>
						<li class="font-bold">По городу Симферополю - 1 500 рублей</li>
						<li>Алушта, Саки, Бахчисарай - 3 500 рублей</li>
						<li>Евпатория - 4 000 рублей</li>
						<li>Ялта - от 4 500 рублей</li>
						<li>Судак, Коктебель, Феодосия, Севастополь - от 5 000 рублей</li>
						<li>Черноморское, Джанкой - от 6 000 рублей</li>
						<li>Керчь, Армянск - 7 500 рублей</li>
					</ul>
				</div>
				<div class="p-4">
					<h2 class="font-semibold text-3xl mb-2 text-red-700">
						Дополнительные услуги:
					</h2>
					<ul>
						<li>Навигатор - 150 рублей в сутки</li>
						<li>Детское кресло - 200 рублей в сутки</li>
						<li class="font-bold">Набор автомобилиста - Бесплатно</li>
						<li>Дополнительный водитель - 150 рублей в сутки</li>
						<li>Отмена залога и франшизы от 300 до 1000 рублей в сутки</li>
						<li>Wi-Fi Интернет - 300 рублей в сутки</li>
						<li>Камера GoPro - 500 рублей в сутки</li>
					</ul>
				</div>
			</div>

			<!-- Третья строка: 1 столбец на всю ширину -->
			<div class="p-4 mx-auto">
				<h2 class="font-semibold text-3xl mb-2 text-red-700">
					Для аренды автомобиля без водителя
				</h2>
				<ul>
					<li>
						<Icon
							name="material-symbols:download"
							class="inline-block mr-2"
						/><a href=""
							>Договор аренды автомобиля без водителя для физлиц (docx) /
							35.20kb
						</a>
					</li>
					<li>
						<Icon
							name="material-symbols:download"
							class="inline-block mr-2"
						/><a href=""
							>Договор аренды автомобиля без водителя для юрлиц (docx) / 43.20kb
						</a>
					</li>
					<li>
						<Icon
							name="material-symbols:download"
							class="inline-block mr-2"
						/><a href=""
							>Дополнительное соглашение к договору (docx) / 23.90kb
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</Layout>
