---
import { YouTube } from "astro-embed";
---

<div class="bg-[#1e2933] py-8">
	<div class="flex flex-wrap container mx-auto gap-4">
		<div class="w-[48%] mx-auto text-white">
			<p>Аренда авто в крыму CAR-ON-TIME</p>
			<h2>О компании</h2>
			<p>
				Компания автопрокат CAR-ON-TIME была основана в 2010 году. За время
				работы в Крыму наша компания имеет положительные отзывы от своих
				клиентов. Мы можем решать транспортные задачи любой сложности, наши
				водители это профессионалы высочайшего уровня. Основное направление -
				прокат автомобилей в Крыму
			</p>
			<ul>
				<li>Аренда авто от эконом до V.I.P. класса</li>
				<li>Аренда автомобилей без водителя, так и с водителем</li>
			</ul>
		</div>
		<div class="w-[48%] mx-auto">
			<YouTube id="0I6_05Rcpdo" title="Автопрокат Car-On-Time" />
		</div>
	</div>
</div>
