---

---

<div
	class="relative h-64 bg-cover bg-center"
	style="background-image: url('src/img/feedback.jpg');"
>
	<div
		class="before:absolute before:inset-0 before:bg-black before:bg-opacity-50 before:content-['']"
	>
	</div>
	<div class="relative z-10 text-white p-4">
		<!-- Контент поверх картинки -->
		Your content here
	</div>
</div>
