---
import { Picture } from "astro:assets";
import bmw from "@img/bmw.png";
import camaro from "@img/camaro.png";
---

<div
	class="siema-container relative w-full md:h-[400px] h-auto md:overflow-hidden"
>
	<div class="siema w-full h-full">
		<!-- Первый слайд -->
		<div class="flex flex-col md:flex-row w-full h-full">
			<!-- Левая часть с текстом по центру -->
			<div
				class="w-full md:w-1/2 flex items-center justify-center text-center flex-col gap-y-4"
			>
				<p class="text-3xl font-bold">АРЕНДА АВТО В КРЫМУ</p>
				<p class="text-2xl font-bold text-blue-600">+7 (978) 955-60-60</p>
				<p class="text-2xl font-bold text-blue-600">+7 (978) 955-60-60</p>
				<p class="text-2xl">Стойка в терминале аэропорт Симферополь</p>
			</div>

			<!-- Правая часть с изображением, ограниченным по высоте -->
			<div class="w-full md:w-1/2 flex items-center justify-center">
				<Picture
					src={bmw}
					formats={["avif", "webp"]}
					alt="Car on time"
					class="max-h-[400px] object-contain"
				/>
			</div>
		</div>

		<!-- Второй слайд -->
		<div class="flex flex-col md:flex-row w-full h-full">
			<div
				class="w-full md:w-1/2 flex items-center justify-center text-center flex-col gap-y-4"
			>
				<p class="text-3xl font-bold">АРЕНДА АВТО В КРЫМУ</p>
				<p class="text-2xl font-bold text-red-600">+7 (978) 955-60-60</p>
				<p class="text-2xl font-bold text-red-600">+7 (978) 955-60-60</p>
				<p class="text-2xl">Стойка в терминале аэропорт Симферополь</p>
			</div>

			<div class="w-full md:w-1/2 flex items-center justify-center">
				<Picture
					src={camaro}
					formats={["avif", "webp"]}
					alt="Car on time"
					class="max-h-[400px] object-contain"
				/>
			</div>
		</div>
	</div>

	<!-- Кнопки навигации -->
	<button
		class="prev absolute left-4 top-1/2 transform -translate-y-1/2 bg-red-600 text-white w-10 h-10 rounded-full flex items-center justify-center"
	>
		<!-- Левая стрелочка -->
		<span
			class="inline-block transform rotate-[315deg] border-t-2 border-l-2 border-white w-3 h-3"
		></span>
	</button>

	<button
		class="next absolute right-4 top-1/2 transform -translate-y-1/2 bg-red-600 text-white w-10 h-10 rounded-full flex items-center justify-center"
	>
		<!-- Правая стрелочка -->
		<span
			class="inline-block transform rotate-[135deg] border-t-2 border-l-2 border-white w-3 h-3"
		></span>
	</button>
</div>

<script>
	import Siema from "siema";

	document.addEventListener("DOMContentLoaded", () => {
		const mySiema = new Siema({
			duration: 500,
			easing: "ease-out",
			perPage: 1,
			startIndex: 0,
			draggable: true,
			multipleDrag: true,
			threshold: 20,
			loop: true,
		});

		// Добавить навигацию
		document
			.querySelector(".prev")
			.addEventListener("click", () => mySiema.prev());
		document
			.querySelector(".next")
			.addEventListener("click", () => mySiema.next());
	});
</script>
