---
import Footer from "@components/Footer.astro";
import Header from "../components/Header.astro";

const { title, showTitle = true } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title || "Astro"}</title>
	</head>
	<body class="flex flex-col min-h-screen pb-4">
		<Header />
		<main class="flex-grow relative">
			{
				showTitle && (
					<h1 class="text-3xl font-bold shadow-up py-8 relative decorated-title uppercase">
						{title}
					</h1>
				)
			}
			<slot class="sm:px-4" />
		</main>
		<Footer />
	</body>
</html>

<style>
	body {
		color: #1f3852;
	}
	.shadow-up {
		box-shadow: 0px -4px 10px -2px rgb(0 0 0 / 0.1) inset;
		/*text-shadow: 1px 1px 2px rgb(66, 68, 90);*/
	}
	.decorated-title {
		position: relative;
		text-align: center; /* Выравнивание по центру */
	}

	/*.decorated-title::before,
	.decorated-title::after {
		content: "";
		border-bottom: 1px solid #1f3852;
		border-top: 1px solid #1f3852;
		width: 40px;
		height: 0.1em;
		position: absolute;
		top: 40%;
	}

	.decorated-title::before {
		margin-left: -50px;
	}

	.decorated-title::after {
		margin-left: 10px;
	}*/
</style>
